


<% contentFor('body') %>
<h2><%= title %></h2>
    <% if (user) { %>
        <% if (endpoint === 'user_timeline') { %>
            <div class="followstatus">
                <% if (user.user_id === profile_user.user_id) { %>
                  This is you!
                <% } else if (followed) { %>
                  You are currently following this user.
                  <a class="unfollow" href="<%="/" + profile_user.username + "/unfollow"%>">Unfollow user</a>.
                <% } else { %>
                  You are not yet following this user.
                  <a class="follow" href="<%="/" + profile_user.username + "/follow"%>">Follow user</a>.
                <% } %>
                </div>         
        <% } else { %>
        <div class="twitbox">
            <h3>What's on your mind ?</h3>
            <form action="/add_message" method="post">
                <p><input type="text" name="text" size="60"><input type="submit" value="Share"></p>
            </form>
        </div>
            <% } %>
    <% } %>





    <ul class="messages">
        <% messages.forEach(function(message) { %>
            <li><img src="<%= //message.email|gravatar(size=48) %>">
                <p>
                    <strong><a href="<%="/" + message.username %>">
                            <%= message.username %>
                        </a></strong>
                    <%= message.text %>
                        <small>&mdash; <%= format_datetime(message.pub_date) %></small>
                        <% }) %>
                            <% if (messages.length===0) { %>
            <li><em>There's no message so far.</em></li>
            <% } %>
    </ul>